<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar proyectos</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/proyectos.css">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>

</head>

<body id="body">
    <nav class="navegacion"> <!--Barra de navegación-->
        <div class="icon-user">
            <a href="#">
                <img src="../imagenes/usuario.png">
            </a>
            <div class="icon-responsive">
                <i class="fa-solid fa-bars" style="color: #b15b15;" id="btn-open"></i>
            </div>
        </div>
        <div class="icon-logout">
            <a href="#">
                <img src="../imagenes/logout.png">
            </a>
        </div>
    </nav>
    <div class="cuerpo">
        <div class="menu-principal" id="menu-principal"> <!--Menú-->
            <ul class="lista-principal-menu" id="lista-close">
                <li class="lista-principal lista-principal--click">
                    <div class="lista-item">
                        <a class="lista-link">PROYECTOS</a>
                        <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="verProyectos.html">VER PROYECTOS</a>
                        </li>
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="crearProyecto.html">CREAR PROYECTOS</a>
                        </li>
                    </ul>
                </li>
                <li class="lista-principal lista-principal--click">
                    <div class="lista-item">
                        <a class="lista-link">ITEMS</a>
                        <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="verItems.html">VER ITEMS</a>
                        </li>
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="crearItem.html">CREAR ITEM</a>
                        </li>
                    </ul>
                </li>
                <li class="lista-principal  lista-principal--click">
                    <div class="lista-item">
                        <a class="lista-link">APU</a>
                        <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="verApus.html">VER APUs</a>
                        </li>
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="crearApu.html">CREAR APU</a>
                        </li>
                    </ul>
                </li>
                <li class="lista-principal lista-principal--click">
                    <div class="lista-item">
                        <a class="lista-link">RECURSOS</a>
                        <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="lista-item-secundario">
                            <div class="lista-item-2">
                                <a class="lista-link">MATERIALES</a>
                                <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                            </div>
                            <ul class="lista-tercearia">
                                <li class="lista-item-terceario">
                                    <a class="lista-link" href="verMateriales.html">VER MATERIALES</a>
                                </li>
                                <li class="lista-item-terceario">
                                    <a class="lista-link" href="crearMaterial.html">CREAR MATERIAL</a>
                                </li>
                            </ul>
                        </li>
                        <li class="lista-item-secundario">
                            <div class="lista-item-2">
                                <a class="lista-link">MAQUINARIA</a>
                                <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                            </div>
                            <ul class="lista-tercearia">
                                <li class="lista-item-terceario">
                                    <a class="lista-link" href="verMaquinaria.html">VER MAQUINARIA</a>
                                </li>
                                <li class="lista-item-terceario">
                                    <a class="lista-link" href="crearMaquinaria.html">CREAR MAQUINARIA</a>
                                </li>
                            </ul>
                        </li>
                        <li class="lista-item-secundario">
                            <div class="lista-item-2">
                                <a class="lista-link">MANO DE OBRA</a>
                                <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                            </div>
                            <ul class="lista-tercearia">
                                <li class="lista-item-terceario">
                                    <a class="lista-link" href="verManoDeObra.html">VER MANO DE OBRA</a>
                                </li>
                                <li class="lista-item-terceario">
                                    <a class="lista-link" href="crearManoDeObra.html">CREAR MANO DE OBRA</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="lista-principal  lista-principal--click">
                    <div class="lista-item">
                        <a class="lista-link">USUARIOS</a>
                        <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="verUsuarios.html">VER USUARIOS</a>
                        </li>
                        <li class="lista-item-3 lista-subitem">
                            <a class="lista-link" href="crearUsuario.html">REGISTRAR USUARIO</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="contenedor"> <!--Div general del contenido-->
            <table class="tabla">
                <thead class="cabecera">
                    <tr>
                        <th class="titulo-proyecto" colspan="7">OPTIMIZACIÓN EMISARIO FINAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="subtitulo" colspan="7">PRESUPUESTO DE OBRA</td>
                    </tr>
                    <tr>
                        <td>ITEMS</td>
                        <td>DESCRIPCIÓN ACTIVIDADES</td>
                        <td>UND</td>
                        <td>CANT</td>
                        <td>VR. UNIT</td>
                        <td>VR. PARCIAL</td>
                        <td>VR. CAPITULO</td>
                    </tr>
                    <tr>
                        <td colspan="7">EMISARIO FINAL</td>
                    </tr>
                    <tr>
                        <td>1,0</td>
                        <td>Preliminares</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$ 579999,96</td>
                    </tr>
                    <tr>
                        <td>1,1</td>
                        <td>Localización y replanteo</td>
                        <td>M2</td>
                        <td>2</td>
                        <td>$ 289999,98</td>
                        <td>$ 579999,96</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texto-izquierda" colspan="5">SUBTOTAL EMISARIO FINAL</td>
                        <td>$ 579999,96</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texto-izquierda" colspan="5">COSTO TOTAL DEL PROYECTO</td>
                        <td>$ 579999,96</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>